* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}


 .main {
    height: 100vh;
    background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url(../img/Elevator_1920x1080-min.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.main {
  color: #fff;
  position: relative;
  
}

.logo {
  position: relative;
  display: inline-block;
}

.logo img{
  position: absolute;
  width: 50px;
  height: 50px;
  left: -62px;
  top: 32px;
}

.main .title {
  position: absolute;
  top: 20%;
  /* transform: translateY(-50%); */
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 3.5em;

 
}


.title h1{
  text-align: center;
  font-size: 49px;
  font-weight: 800;
  color: #fff;
}

.title p {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5em;
  padding-top: 1em;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}

.main .title .underline {
  border: 1px solid white;
  margin: 0 auto;
      margin-top: 0px;
  width: 2em;
  margin-top: 1em;

}


.bottom {
  position: absolute;
  bottom: 10%;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
}

.bottom p {
  
  font-weight: 600;
  
  font-size: 49px;
  padding: 0;
  margin: 0;
  align-self: center;
 
}

.bottom .icons {
  font-size: 49px;
  position: absolute;
  right: 50px;
}

.icons a {
  color: #fff;
  text-decoration: none;
}

.icon-envelope:before {
  content: "\f0e0";
}

@media (max-width: 992px) { 
  .bottom {
    flex-direction: column;
  }
  .bottom p {
    font-size: 36px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .bottom .icons {
    position: static;
  }

  .underline {
    display: none;
  }
 }

 


 @media (max-width: 576px) {

  .main .title {
    position: absolute;
    top: 2%;
    transform: translateY(0);
  }

  .bottom {
    bottom: 7%;
  }
  
 }

 @media (max-width: 992px)  and (orientation: landscape) and (max-height: 576px) {
   .underline {
     display: none;
   }

   .main .title {
    position: absolute;
    top: 0%;
    transform: translateY(0);
  }

  .main .title p:first-child {
    margin-bottom: 0;
  }
  .main .title p:last-child {
    margin-top: 0;
  }

  

   .title p {
     padding-top: 0em;
   }

  .bottom {
    flex-direction: row;
    bottom: 5%;
  }

 }
